.icon {
    margin-left: 6px;
}

.icongenerator {
    color: #3399ff;
}
.iconanalyse {
    color: #66d9ff;
}
.iconangriffsmethoden {
    color: #3399ff;
}
.iconschwachepasswörter {
    color: #3399ff;
}
.iconhäufigepasswörter {
    color: #66d9ff;
}
.iconpasswort-wiederverwendung {
    color: #3399ff;
}