.icon {
    margin-left: 6px;
}

.icongenerator {
    color: orange;
}
.iconanalyse {
    color: dodgerblue;
}
.iconangriffsmethoden {
    color: orangered;
}
.iconpasswort-wiederverwendung {
    color: orangered;
}