body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
    text-align:center;
}

h1{
    margin-top:80px;
    font-size:40px;
}

p{
    font-size:18px;
}

#ausgabe{
    margin-top:25px;
    font-size:20px;
    font-weight:bold;
    color:#3b82f6;
}

#eingabe {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #66d9ff;
    font-family: monospace;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 0 6px;
}
#eingabe::placeholder {
    color: rgba(255, 255, 255, 0.45);
}