<footer class="footer">
  <div class="footer-content">
    <h3>SafeNet Security</h3>
    <p class="footer-text">
      Deine Plattform für Passwortsicherheit und digitale Aufklärung.
    </p>


    <div class="footer-grid">
      <div class="footer-section">
        <h4>Navigation</h4>
        <a href="/de/index.html">Startseite</a>
        <a href="/de/pages/generator.html">Passwort-Generator</a>
        <a href="/de/pages/analysator.html">Passwort-Analyse</a>
        <a href="/de/pages/tresor.html">Tresor</a>
        <a href="/de/pages/meine-stats.html">Meine Statistiken</a>
      </div>

      <div class="footer-section">
        <h4>Angriffsmethoden</h4>
        <a href="/de/pages/angriff.html">Allgemein</a>
        <a href="/de/pages/phishing.html">Phishing</a>
        <a href="/de/pages/bruteforce.html">Bruteforce</a>
        <a href="/de/pages/socialengineering.html">Social Engineering</a>
        <a href="/de/pages/keylogger.html">Keylogger</a>
        <a href="/de/pages/wörterbuchangriff.html">Wörterbuchangriff</a>
        <a href="/de/pages/ransomware.html">Ransomware</a>
        <a href="/de/pages/mfa-bypass.html">MFA-Bypass</a>
      </div>

      <div class="footer-section">
        <h4>Über SafeNet Security</h4>
        <a href="/de/pages/übersns.html">Allgemein</a>
        <a href="/de/pages/haftungsausschluss.html">Haftungsausschluss</a>
        <a href="/de/pages/datenschutzerklärung.html">Datenschutzerklärung</a>
        <a href="/de/pages/impressum.html">Impressum</a>
        <a href="/de/pages/kontakt.html">Kontakt</a>
        <a href="/de/pages/feedback.html">Feedback</a>
      </div>

      <div class="footer-section">
        <h4>Lernen</h4>
        <a href="/de/pages/tutorials.html">Tutorials</a>
        <a href="/de/pages/news.html">Security-News</a>
      </div>
    </div>

    <p class="copyright">© 2026 Nevio - ICT-Fachmann</p>
  </div>
</footer>
