<footer class="footer">
  <div class="footer-content">
    <h3>SafeNet Security</h3>
    <p class="footer-text">
      Ein Projekt zur Aufklärung über Passwortsicherheit und Cyberangriffe.
    </p>


    <div class="footer-grid">
      <div class="footer-section">
        <h4>Navigation</h4>
        <a href="/">Startseite</a>
        <a href="/pages/generator.html">Passwort-Generator</a>
        <a href="/pages/analysator.html">Passwort-Analyse</a>
        <a href="/pages/tresor.html">Tresor</a>
      </div>

      <div class="footer-section">
        <h4>Angriffsmethoden</h4>
        <a href="/pages/angriff.html">Allgemein</a>
        <a href="/pages/phishing.html">Phishing</a>
        <a href="/pages/bruteforce.html">Bruteforce</a>
        <a href="/pages/socialengineering.html">Social Engineering</a>
        <a href="/pages/keylogger.html">Keylogger</a>
        <a href="/pages/wörterbuchangriff.html">Wörterbuchangriff</a>
      </div>

      <div class="footer-section">
        <h4>Über SafeNet Security</h4>
        <a href="/pages/übersns.html">Allgemein</a>
        <a href="/pages/haftungsausschluss.html">Haftungsausschluss</a>
        <a href="/pages/datenschutzerklärung.html">Datenschutzerklärung</a>
        <a href="/pages/impressum.html">Impressum</a>
        <a href="/pages/kontakt.html">Kontakt</a>
      </div>
    </div>

    <p class="copyright">© 2026 Nevio - ICT-Fachmann</p>
  </div>
</footer>
